<h1>New Contact</h1>

<form method="POST" action="/contacts">
    <label>Name</label>
    <input name="name" type="text" />
    <label>Message</label>
    <textarea name="enquiry"></textarea>
    <label>Email</label>
    <input name="email" type="email">
    <input type="submit">
</form>