<style>
    #people{
        box-shadow: 5px 10px 10px paleturquoise !important;
    }
</style>

<h1>Index Page</h1>

{{#each contacts}}
    <div class="card shadow p-3 mb-5 bg-light rounded" style="width: 18rem; margin-left: 20rem;" id="people">
        <div class="card-body">
            <div class="card-title">{{this.name}}</div>
            <div class="card-subtitle mb-2 text-muted">{{this.email}}</div>
            <div class="card-text">{{this.enquiry}}</div>
        </div>
    </div>
    <br>
{{/each}}